main#dot-game {
    display: flex;

    .options {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        box-shadow: inset 0px 50px 15px -50px var(--color-shadow);

        .size {
            text-align: center;

            .label {
                margin-bottom: 10px;
            }

            .inputs {
                span {
                    display: inline-block;
                    margin: 0 10px;
                }

                input {
                    background-color: var(--color-header);
                    border: none;
                    padding: 10px;
                }
            }
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                padding-bottom: 10px;
            }

            input,
            button {
                border: none;
                background-color: var(--color-header);
                padding: 10px;
            }

            >button {
                width: 100%;
            }
        }

        .start {
            padding: 20px;
            border: none;
            background-color: var(--color-header);
        }
    }

    .game {
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        --player-color-1: rgb(0, 89, 255);
        --player-color-2: red;
        --player-color-3: green;
        --player-color-4: rgb(255, 221, 0);
        --player-color-1-dim: rgb(126, 171, 255);
        --player-color-2-dim: #ff8080;
        --player-color-3-dim: #83ff83;
        --player-color-4-dim: rgb(255, 236, 112);

        .players {
            display: flex;
            justify-content: space-between;
            background-color: var(--color-header);

            .player {
                text-align: center;
                position: relative;
                --time-left: 100%;

                &.turn {
                    background-color: var(--player-color-dim);
                    color: var(--color-button-primary-text);

                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        width: var(--time-left);
                        transition: width 100ms linear;
                        background-color: var(--player-color);
                    }
                }

                @each $n in 1,
                2,
                3,
                4 {
                    &:nth-child(#{$n}) {
                        --player-color-dim: var(--player-color-#{$n}-dim);
                        --player-color: var(--player-color-#{$n});
                    }
                }

                .content {
                    border: 2px solid var(--player-color);
                    padding: 0 10px 10px;
                    position: relative;
                    z-index: 1;

                    .score {
                        font-size: 1.2em;
                    }

                    h2 {
                        margin: 0 0 10px;
                    }
                }
            }
        }

        .canvases {
            flex-grow: 1;
            position: relative;
            box-shadow: inset 0px 50px 15px -50px var(--color-shadow);
        }

        canvas {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: contain;
            overscroll-behavior: contain;
        }

        .win-modal {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 10px;
            backdrop-filter: blur(10px);

            button {
                background-color: var(--color-button-primary);
                color: var(--color-button-primary-text);
                border: none;
                padding: 10px;

                &:hover {
                    background-color: var(--color-button-primary-hover);
                }
            }
        }
    }
}